@use 'vars' as v;
@import 'mixins';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: v.$font-primary;
    background-color: v.$c-gray-EB;
}

.title {
    @include fontStyle(v.$f-title-40, v.$xl-bold, v.$c-primary);
    &-line {
        position: relative;
        display: block;
        max-width: fit-content;
        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg, #005AFA 0%, #FF0000 100%);
            bottom: -4px;
            left: 0;
        }
    }
}

.subtitle {
    @include fontStyle(v.$f-title, v.$bold, v.$c-primary);
    line-height: 30px;
}

.text {
    &-blue {
        color: v.$c-blue-00;
    }
    &-gray {
        color: v.$c-gray;
    }
    &-secondary {
        font-family: v.$font-secundary;
    }
}

.font {
    &-primary {
        font-family: v.$font-primary;
    }
    &-secondary {
        font-family: v.$font-secundary;
    }
}

.text-inter {
    @include fontStyle(v.$f-medium, v.$normal, v.$c-primary);
    font-family: v.$font-secundary;
    line-height: 22px;
}

.btn {
    &-generic {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 165px;
        height: 56px;
        font-size: v.$f-subtitle;
        border-radius: 8px;
        background: v.$c-blue-00;
    }
    &-red {
        background-color: v.$c-red;
        color: v.$c-white;
    }
}

.navbar {
    z-index: 100;
    height: 80px;
    &.bgcTransparent {
        position: absolute;
        width: 100%;
        top: 1px;
        background-color: transparent !important;
    }
    &.fixed {
        position: fixed;
        width: 100%;
        top: 0;
        background-color: v.$c-primary !important;
    }
    .navbar-brand img {
        height: 2.2rem;
        width: auto;
    }
    .nav-link {
        color: v.$c-white !important;
    }
    .btnBusiness {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        background-color: v.$c-white !important;
        color: v.$c-blue-00 !important;
        max-width: 120px;
    }
}

.menssage {
    z-index: 100;
    min-height: 52px;
    background-color: v.$c-primary;
    padding: 2rem 0;
    p,
    a {
        color: v.$c-white;
        font-size: v.$f-medium;
        font-family: v.$font-secundary;
        text-decoration: none;
    }
}

.header {
    &-home {
        height: 960px;
        padding-top: 80px;
        background: linear-gradient(180deg, #005AFA 0%, #FF0000 100%);
        .welcome {
            height: 100vh;
            align-items: center;
            display: flex;
            color: v.$c-white;
            margin-top: -80px;
            &-title {
                font-size: 4.4rem;
            }
            &-text {
                @include fontStyle(v.$f-title, v.$bold, v.$c-white);
                line-height: 30px;
                &_sub {
                    @include fontStyle(v.$f-medium, v.$xl-bold, v.$c-white);
                    line-height: 18px;
                }
            }
        }
    }
}

.promo {
    position: absolute;
    .container {
        background-color: v.$c-white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        overflow: hidden;
    }
    &-cash {
        background: linear-gradient(180deg, #00EEA4 18.83%, #005BFC 100%);
        color: v.$c-white;
        &_circle {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: linear-gradient(90deg, #00EEA4 0%, #005AFA 98%);
            top: 85px;
            right: 85px;
            &::before {
                content: '';
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background: linear-gradient(90deg, #00EEA4 0%, #005AFA 98%);
            }
        }
        h2 {
            font-size: 60px;
            font-weight: v.$xl-bold;
        }
        p {
            font-size: 50px;
            font-weight: v.$normal;
            font-family: v.$font-secundary;
        }
    }
}

section {
    margin-bottom: 5rem;
    &.trainingCamps {
        margin-bottom: 0;
        padding: 300px 0 5rem;
        background-color: v.$c-pink;
        border-radius: 20px;
    }
    &.team {
        background-color: v.$c-white;
        padding: 5rem 0;
    }
}

.trainingCamps {
    &-container_img {
        border-radius: 24px;
        overflow: hidden;
        height: 390px;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    .icon {
        width: 40px;
        height: 40px;
    }
}

.list {
    li {
        list-style: none;
        display: flex;
        align-items: center;
    }
    .icon-list {
        display: block;
        width: 15px;
        height: 15px;
        background-image: url("/assets/img/icon-list.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: .3rem;
    }
}

.blockAcademy-info {
    &_image {
        position: relative;
        align-items: flex-end;
        .img-container {
            width: 406px;
            height: 595px;
            img {
                object-fit: contain;
            }
        }
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 90%;
            width: 300px;
            border-radius: 150px 150px 0 0;
            background: linear-gradient(180deg, #D9D9D9 0%, #0050FF 100%);
            z-index: -1;
        }
    }
    &_card {
        position: relative;
        border-left: 2px solid v.$c-blue-00;
        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: v.$c-blue-00;
            left: -16px;
        }
        &.border-hidden {
            border-color: transparent;
        }
    }
}

.certifiedTrainee {
    margin: 100px 0;
    &-info {
        background-color: v.$c-primary;
        border-radius: 24px;
    }
    &-image {
        display: flex;
        align-items: center;
        .img-container {
            width: auto;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.section-courses {
    background: v.$c-blue-sky-E6;
    h2 {
        font-family: v.$font-primary;
        font-style: normal;
        font-weight: v.$xl-bold;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.02em;
        color: v.$c-primary;
    }
    p {
        @include fontStyle(v.$f-medium,
        v.$normal,
        v.$c-primary);
        font-family: v.$font-secundary;
        font-style: normal;
        line-height: 22px;
        span {
            font-weight: v.$bold;
        }
    }
    .card-course {
        background: v.$c-primary;
        color: v.$c-white;
        border-radius: 20px;
        max-width: 409px;
        .pill {
            display: inline-flex;
            align-items: center;
            padding: 0 10px;
            background: v.$c-white;
            border-radius: 4px;
            color: v.$c-primary;
            font-weight: v.$xl-bold;
        }
        .text-green {
            font-family: v.$font-primary;
            @include fontStyle(v.$f-medium,
            v.$bold,
            v.$c-secondary);
        }
        .title-description {
            font-family: v.$font-secundary;
            @include fontStyle(v.$f-medium,
            v.$normal,
            v.$c-white);
        }
        .description {
            font-family: v.$font-secundary;
            @include fontStyle(v.$f-xmedium,
            v.$normal,
            v.$c-white);
        }
        .sprint-box {
            @include fontStyle(v.$f-medium,
            v.$xl-bold,
            v.$c-white);
            background: v.$c-grey-dark-58;
            border-radius: 8px;
            padding: 0.375rem 0.75rem;
            line-height: 1.5;
            display: inline-flex;
            align-items: center;
            width: 100%;
            height: 47px;
        }
    }
}

.btn {
    &.ba-primary {
        @include fontStyle(v.$f-title,
        v.$xl-bold,
        v.$c-white);
        background: v.$c-blue-00;
        border-radius: 8px;
        &.btn-md {
            @include fontStyle(v.$f-medium,
            v.$bold,
            v.$c-white);
            height: 39px;
        }
        &.btn-md:hover {
            @include fontStyle(v.$f-medium,
            v.$bold,
            v.$c-white);
            height: 39px;
            background: #0039b4;
        }
        &.bg-white {
            color: v.$c-primary;
        }
        &.bg-white:hover {
            color: v.$c-primary;
            background: #ffffffa3 !important;
        }
    }
    &.ba-primary:hover {
        @include fontStyle(v.$f-title,
        v.$xl-bold,
        v.$c-white);
        background: #0039b4;
    }
    &.ba-secondary {
        @include fontStyle(v.$f-title,
        v.$xl-bold,
        v.$c-white);
        background: v.$c-grey-dark-58;
        border-radius: 8px;
    }
    .tool-tip:before {
        content: "";
        width: 148.55px;
        height: 39px;
        background: transparent;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 8px;
    }
}

section.team {
    .card-team {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-container {
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 24px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.footer {
    background: linear-gradient(180deg, #FF0000 0%, #005AFA 100%);
    margin-top: 5rem;
    .copy {
        font-family: v.$font-secundary;
        @include fontStyle(v.$f-xmedium,
        v.$normal,
        v.$c-white);
        font-style: normal;
    }
    .menu {
        list-style: none;
        .menu-item {
            a {
                font-family: v.$font-secundary;
                @include fontStyle(v.$f-medium,
                v.$normal,
                v.$c-white);
                line-height: 28px;
                &:hover {
                    text-decoration: none;
                    opacity: 0.6;
                }
            }
            &.active {
                a {
                    color: v.$c-secondary;
                }
            }
        }
    }
    .circle-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        background: v.$c-white;
        border-radius: 50%;
    }
}

.bgColor {
    background-color: v.$c-primary;
}

@media screen and (max-width: 768px) {
    .navbar-toggler {
        border: none;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar-nav {
        background-color: v.$c-primary;
        text-align: center;
        margin-top: 20px;
    }
    .navbar-brand img {
        height: 1.6rem !important;
        width: auto;
    }
    .collapse,
    .navbar-nav {
        padding: 0.75rem 0;
        border-radius: 24px;
    }
    .menssage {
        p,
        a {
            font-size: v.$f-regular;
        }
    }
    .header-home {
        .welcome {
            margin-top: -100px;
            &-title {
                font-size: 2rem !important;
            }
            &-text {
                @include fontStyle(v.$f-subtitle,
                v.$bold,
                v.$c-white);
                line-height: 30px;
                &_sub {
                    @include fontStyle(v.$f-xmedium,
                    v.$xl-bold,
                    v.$c-white);
                    line-height: 18px;
                }
            }
        }
    }
    .promo {
        bottom: -570px;
        &-cash {
            &_circle {
                width: 60px;
                height: 60px;
                top: 20px;
                right: 20px;
                &::before {
                    width: 35px;
                    height: 35px;
                }
            }
            h2 {
                font-size: 50px;
            }
            p {
                font-size: 50px;
            }
        }
    }
    section {
        &.trainingCamps {
            padding: 600px 0 5rem;
        }
    }
    .certifiedTrainee {
        &-image {
            position: relative;
            .img-container {
                position: absolute;
                width: 200px;
                height: 200px;
                right: -40px;
                bottom: -150px;
            }
        }
    }
}