/* ----- FONT-FAMILY ----- */

$font-primary: "Titillium Web";
$font-secundary: "Inter";

/* ----- SIZE----- */

$f-xsmall: 10px;
$f-small: 11px;
$f-xregular: 12px;
$f-regular: 13px;
$f-xmedium: 14px;
$f-medium: 16px;
$f-big: 18px;
$f-subtitle: 20px;
$f-title: 22px;
$f-extra-big: 28px;
$f-title-40: 40px;

/* ----- WEIGHT ----- */

$ligth: 200;
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 600;
$xl-bold: 700;

/* ----- COLORS----- */

$c-primary: #122024;
$c-secondary: #00eea4;
$c-blue: #9747ff;
$c-blue-00: #0050ff;
$c-blue-sky-E6: #e6efff;
$c-white: #ffffff;
$c-gray-EB: #ebebeb;
<<<<<<< Updated upstream
$c-gray-dark-58: #585858;
$c-gray: #888888;
$c-blue-sky-E6: #e6efff;
=======
$c-grey-dark-58: #585858;
>>>>>>> Stashed changes
$c-white: #ffffff;
$c-red: #ff0000;
