@import url("https://fonts.googleapis.com/css2?family=Inter&family=Titillium+Web:wght@600&display=swap");
/* ----- FONT-FAMILY ----- */
/* ----- SIZE----- */
/* ----- WEIGHT ----- */
/* ----- COLORS----- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web";
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #122024;
}

.subtitle {
  font-size: 22px;
  font-weight: 600;
  color: #122024;
  line-height: 30px;
}

.text-blue {
  color: #9747FF;
}
.text-gray {
  color: #888888;
}
.text-secondary {
  font-family: "Inter";
}

.font-primary {
  font-family: "Titillium Web";
}
.font-secondary {
  font-family: "Inter";
}

.text-inter {
  font-size: 16px;
  font-weight: 400;
  color: #122024;
  font-family: "Inter";
  line-height: 22px;
}

.btn-generic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 56px;
  font-size: 20px;
  border-radius: 8px;
}

.navbar .navbar-brand img {
  height: 2.2rem;
  width: auto;
}
.navbar .nav-link {
  color: #ffffff !important;
}

header {
  height: 980px;
  background: linear-gradient(180deg, #005AFA 0%, #FF0000 100%);
}
header .menssage {
  height: 52px;
  background-color: #122024;
}
header .menssage p,
header .menssage a {
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter";
  text-decoration: none;
}
header .welcome {
  height: 100vh;
  align-items: center;
  display: flex;
  color: #ffffff;
  margin-top: -80px;
}
header .welcome-title {
  font-size: 4.4rem;
}
header .welcome-text {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  line-height: 30px;
}
header .welcome-text_sub {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  line-height: 18px;
}

.promo {
  background: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  overflow: hidden;
}
.promo-cash {
  background: linear-gradient(180deg, #00EEA4 18.83%, #005BFC 100%);
  color: #ffffff;
}
.promo-cash_circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(90deg, #00EEA4 0%, #005AFA 98%);
  top: 85px;
  right: 85px;
}
.promo-cash_circle::before {
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(90deg, #00EEA4 0%, #005AFA 98%);
}
.promo-cash h2 {
  font-size: 60px;
  font-weight: 700;
}
.promo-cash p {
  font-size: 50px;
  font-weight: 400;
  font-family: "Inter";
}

section.trainingCamps {
  padding-top: 250px;
}

.trainingCamps-info .title {
  position: relative;
  display: block;
}
.trainingCamps-info .title::before {
  content: "";
  position: absolute;
  display: block;
  width: 265px;
  height: 3px;
  background: linear-gradient(90deg, #005AFA 0%, #FF0000 100%);
  bottom: -4px;
  left: 0;
}
.trainingCamps-container_img {
  border-radius: 24px;
  overflow: hidden;
  height: 390px;
}
.trainingCamps-container_img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.trainingCamps .icon {
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=styleHome.css.map */
